@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    left: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root{
    --sky-blue: #43affc;
    --sky-blue2: #00cec9;
}
html{
    font-size: 1rem;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-image: url(images/cloud.jpg);
}